<div class="container">
  <div class="main-container">
    <div class="card-container">
      <div class="row">
        <% @lands.each do |land| %>
        <div class="col-xs-12 col-sm-6">
          <% if land.photo_url %>
          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path land.photo %>');">
              <div class="card-description"><h2><%= link_to land.title, land_path(land) %></h2></div>
              <% if land.user.photo_url %>
                <%= cl_image_tag land.user.photo_url, class: "card-user" %>
              <% else %>
               <%= image_tag "logo_airlnp.png", alt:"logo", class:"card-user"%>
               <% end %>
            </div>
            <div class="card-footer">
              <p><%= land.description %> </p>
              <p><%= land.price %>€/night</p>
            </div>
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
          <% else %>
          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-description"><h2><%= link_to land.title, land_path(land) %></h2></div>
              <%= image_tag "logo_airlnp.png", alt:"logo", class:"card-user"%>
            </div>
            <div class="card-footer">
              <p><%= land.description %> </p>
              <p><%= land.price %>€/night</p>
            </div>
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>
    <div class="map-container">
      <div
      id="map"
      style="width: 95%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>
</div>
