<p> This is the list of all lands</p>

<ul>
  <% @lands.each do |land| %>
  <li><%= link_to land.title, land_path(land) %> Created by <%= land.user.email %></li>
  <li><%= cl_image_tag land.photo, height: 300, width: 400, crop: :fill %></li>
  <% end %>
</ul>


<%= link_to "Add a new land", new_land_path %>


<div class="container">
  <div class="row">
    <% @lands.each do |land| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Popular</div>
            <div class="card-description"><h2><%= link_to land.title, land_path(land) %></h2></div>
            <%= cl_image_tag land.photo, height: 300, width: 400, crop: :fill , class: "card-user" %>
          </div>
          <div class="card-footer">
            <p><%= land.description %> </p>
            <p><%= land.price %>€/night</p>
          </div>
          <!-- <a class="card-link" href="#" ></a> -->
      </div>
    </div>
    <% end %>
  </div>
</div>


