<p> This is the list of all lands</p>

<ul>
  <% @lands.each do |land| %>
  <li><%= link_to land.title, land_path(land) %> Created by <%= land.user.email %></li>
  <li><%= cl_image_tag land.photo, height: 300, width: 400, crop: :fill %></li>
  <% end %>
</ul>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<br>

<%= link_to "Add a new land", new_land_path %>
