<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <%= simple_form_for(@land) do |f| %>

      <%= f.input :title, placeholder: 'ex : un joli jardin', input_html:{class:'my_input'}%>
      <%= f.input :description, placeholder: 'Options, équipements ...', input_html:{class:'my_input'}%>
      <%= f.input :address, placeholder: '50 rue de Paradis Marseille', input_html:{class:'my_input'}%>
      <%= f.input :price, placeholder: '€', input_html:{class:'my_input'}%>
      <%= f.input :surface, placeholder: 'm2', input_html:{class:'my_input'}%>
      <%= f.input :photo, input_html:{class:'my_input'}%>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.button :button, "Partagez", type: :submit, class: :'btn btn-treehouse btn-sm' %>
      <% end %>

    </div>
  </div>
</div>


